<%= link_to "Add a Post", new_post_path %>
<div>
  <% @posts.each do |post|%>
    <ul>
      <div>
        <li><%= link_to post.title, post.url %> was created by <%= post.user.email %></li>
        <%= link_to "Comment", post_path(post) %>
      </div>
    </ul>
  <% end %>
</div>
